<!--
<div class="row">
  <div class="col-sm-6">
    <div class="card card-block">
    <a ng-click="goToContent()" class="card-title">{{rec.link}}</a>
      <p class="card-text">{{rec.description}}</p>
        <button class="btn btn-primary">Consumed</button>
    </div>
  </div>
</div>
-->

<div class="panel panel-default">
  <div class="panel-body">
    <a ng-click="goToContent()" class="card-title">{{rec.link}}</a>
      <p class="card-text">{{rec.description}}</p>
        <button class="btn btn-primary">Consumed</button>
  </div>
</div>