        <div class="modal-header">
            <h3 class="modal-title">Gimme Dat Content</h3>
        </div>
        <div class="modal-body">
            <ul>
                <div>                
                    <input ng-model="description" placeholder="Description">
                </div>
                <input ng-model="link" placeholder="Put a link here">
            </ul>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
        </div>
